
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.firstLight{
    background-color: rgb(117, 11, 11);
    width: 75px;
    height: 75px;
    margin: auto;
    border-radius: 100%;
    border: solid 1px black;
}
.secondLight{
    background-color: rgb(157, 112, 21);
    width: 75px;
    height: 75px;
    margin: auto;
    border-radius: 50%;
    border: solid 1px black;
}

    

.thirdLight{
    background-color: rgb(14, 106, 14);
    width: 75px;
    height: 75px;
    margin: auto;
    border-radius: 50%;
    border: solid 1px black;
}
.barra{
    border-radius: 0;
    border: solid 1px black;
}
.semaforo{
    border: solid 1px black;
}

.sombraRoja{
    box-shadow: 0px 0px 9px 4px rgb(255, 19, 19);
    background-color: red;
    width: 75px;
    height: 75px;
    margin: auto;
    border-radius: 100%;
    border: solid 1px black;
}
.sombraAmarilla{
    box-shadow: 0px 0px 9px 4px rgb(250, 167, 23);
    background-color: rgb(251, 177, 30);
    width: 75px;
    height: 75px;
    margin: auto;
    border-radius: 100%;
    border: solid 1px black;
}

.sombraVerde{
    box-shadow: 0px 0px 9px 4px rgb(22, 248, 14);
    background-color: rgb(30, 249, 15);
    width: 75px;
    height: 75px;
    margin: auto;
    border-radius: 100%;
    border: solid 1px black;
}

html, body, #app {
    background-image: url("https://st3.depositphotos.com/2704315/37650/v/450/depositphotos_376503420-stock-illustration-city-road-town-concept-vector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0;
    padding: 0;
  }
